[Unit]
Description=Platform9 Kubernetes Management Agent Service
ConditionPathExists=/binary/pf9-byoh-hostagent-linux-amd64
After=network.target
StartLimitIntervalSec=5s
StartLimitBurst=2

[Service]
Type=simple
RestartSec=5s
Restart=always
EnvironmentFile=/etc/pf9-byohost-agent.service.d/pf9-byohost-agent.conf 
ExecStart=/bin/bash -c "/binary/pf9-byoh-hostagent-linux-amd64 --bootstrap-kubeconfig \"$BOOTSTRAP_KUBECONFIG\" >> /var/log/pf9/byoh/byoh-agent.log 2>&1"
User=root
Group=root
[Install]
WantedBy=multi-user.target
